
            <div class="card card-side bg-base-100 md:w-[420px] md:h-48 h-48  shadow-xl">
                <figure>
                    <img class="h-48 w-48"
                        src="https://images.pexels.com/photos/14132530/pexels-photo-14132530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title text-lg">New movie is released!</h2> <!-- Only 22 Charectores allowed  -->
                    <p class="text-sm">Click the button to watch on Jetflix app Jetflix .</p>
                    <!-- Only 50 Charectores allowed  -->
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary btn-xs w-20 font-bold">View</button>
                    </div>
                </div>
            </div>

            <div class="card card-side bg-base-100 md:w-[420px] h-48  shadow-xl">
                <figure>
                    <img class="h-48 w-48"
                        src="https://images.pexels.com/photos/14132530/pexels-photo-14132530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title text-lg">New movie is released!</h2> <!-- Only 22 Charectores allowed  -->
                    <p class="text-sm">Click the button to watch on Jetflix app Jetflix .</p>
                    <!-- Only 50 Charectores allowed  -->
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary btn-xs w-20 font-bold">View</button>
                    </div>
                </div>
            </div>

            <div class="card card-side bg-base-100 md:w-[420px] h-48  shadow-xl">
                <figure>
                    <img class="h-48 w-48"
                        src="https://images.pexels.com/photos/14132530/pexels-photo-14132530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title text-lg">New movie is released!</h2> <!-- Only 22 Charectores allowed  -->
                    <p class="text-sm">Click the button to watch on Jetflix app Jetflix .</p>
                    <!-- Only 50 Charectores allowed  -->
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary btn-xs w-20 font-bold">View</button>
                    </div>
                </div>
            </div>

            <div class="card card-side bg-base-100 md:w-[420px] h-48  shadow-xl">
                <figure>
                    <img class="h-48 w-48"
                        src="https://images.pexels.com/photos/14132530/pexels-photo-14132530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title text-lg">New movie is released!</h2> <!-- Only 22 Charectores allowed  -->
                    <p class="text-sm">Click the button to watch on Jetflix app Jetflix .</p>
                    <!-- Only 50 Charectores allowed  -->
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary btn-xs w-20 font-bold">View</button>
                    </div>
                </div>
            </div>

            <div class="card card-side bg-base-100 md:w-[420px] h-48  shadow-xl">
                <figure>
                    <img class="h-48 w-48"
                        src="https://images.pexels.com/photos/14132530/pexels-photo-14132530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title text-lg">New movie is released!</h2> <!-- Only 22 Charectores allowed  -->
                    <p class="text-sm">Click the button to watch on Jetflix app Jetflix .</p>
                    <!-- Only 50 Charectores allowed  -->
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary btn-xs w-20 font-bold">View</button>
                    </div>
                </div>
            </div>

            <div class="card card-side bg-base-100 md:w-[420px] h-48  shadow-xl">
                <figure>
                    <img class="h-48 w-48"
                        src="https://images.pexels.com/photos/14132530/pexels-photo-14132530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title text-lg">New movie is released!</h2> <!-- Only 22 Charectores allowed  -->
                    <p class="text-sm">Click the button to watch on Jetflix app Jetflix .</p>
                    <!-- Only 50 Charectores allowed  -->
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary btn-xs w-20 font-bold">View</button>
                    </div>
                </div>
            </div>

            <div class="card card-side bg-base-100 md:w-[420px] h-48  shadow-xl">
                <figure>
                    <img class="h-48 w-48"
                        src="https://images.pexels.com/photos/14132530/pexels-photo-14132530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title text-lg">New movie is released!</h2> <!-- Only 22 Charectores allowed  -->
                    <p class="text-sm">Click the button to watch on Jetflix app Jetflix .</p>
                    <!-- Only 50 Charectores allowed  -->
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary btn-xs w-20 font-bold">View</button>
                    </div>
                </div>
            </div>

            <div class="card card-side bg-base-100 md:w-[420px] h-48  shadow-xl">
                <figure>
                    <img class="h-48 w-48"
                        src="https://images.pexels.com/photos/14132530/pexels-photo-14132530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title text-lg">New movie is released!</h2> <!-- Only 22 Charectores allowed  -->
                    <p class="text-sm">Click the button to watch on Jetflix app Jetflix .</p>
                    <!-- Only 50 Charectores allowed  -->
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary btn-xs w-20 font-bold">View</button>
                    </div>
                </div>
            </div>

            <div class="card card-side bg-base-100 md:w-[420px] h-48  shadow-xl">
                <figure>
                    <img class="h-48 w-48"
                        src="https://images.pexels.com/photos/14132530/pexels-photo-14132530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title text-lg">New movie is released!</h2> <!-- Only 22 Charectores allowed  -->
                    <p class="text-sm">Click the button to watch on Jetflix app Jetflix .</p>
                    <!-- Only 50 Charectores allowed  -->
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary btn-xs w-20 font-bold">View</button>
                    </div>
                </div>
            </div>

            <div class="card card-side bg-base-100 md:w-[420px] h-48  shadow-xl">
                <figure>
                    <img class="h-48 w-48"
                        src="https://images.pexels.com/photos/14132530/pexels-photo-14132530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title text-lg">New movie is released!</h2> <!-- Only 22 Charectores allowed  -->
                    <p class="text-sm">Click the button to watch on Jetflix app Jetflix .</p>
                    <!-- Only 50 Charectores allowed  -->
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary btn-xs w-20 font-bold">View</button>
                    </div>
                </div>
            </div>

            <div class="card card-side bg-base-100 md:w-[420px] h-48  shadow-xl">
                <figure>
                    <img class="h-48 w-48"
                        src="https://images.pexels.com/photos/14132530/pexels-photo-14132530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title text-lg">New movie is released!</h2> <!-- Only 22 Charectores allowed  -->
                    <p class="text-sm">Click the button to watch on Jetflix app Jetflix .</p>
                    <!-- Only 50 Charectores allowed  -->
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary btn-xs w-20 font-bold">View</button>
                    </div>
                </div>
            </div>

            <div class="card card-side bg-base-100 md:w-[420px] h-48  shadow-xl">
                <figure>
                    <img class="h-48 w-48"
                        src="https://images.pexels.com/photos/14132530/pexels-photo-14132530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title text-lg">New movie is released!</h2> <!-- Only 22 Charectores allowed  -->
                    <p class="text-sm">Click the button to watch on Jetflix app Jetflix .</p>
                    <!-- Only 50 Charectores allowed  -->
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary btn-xs w-20 font-bold">View</button>
                    </div>
                </div>
            </div>