<div class="h-[40px] text-white w-full flex items-end justify-center">
    <div class="text-gray-500">
        Copyright © 2025 <a class="underline text-blue-600" target="_blank" href="#">Danish Shamshee</a>
    </div>
</div>