<div
    class="navbar text-white bg-base-100 flex justify-between items-center md:px-10 py-2 fixed top-0 w-full left-0 z-50 shadow ">
    <div class="">
        <i class='bx bxl-blogger text-3xl hidden'></i>
        <a class="btn btn-ghost md:text-xl text-lg" href="/"><strong><i>B</i>log</strong></a>
    </div>

    <!-- Center Section -->
    <div class="center md:text-2xl flex md:gap-48 gap-10">
        <a href="/" class=""><i class='bx hover:text-blue-500 bxs-home'></i></a>
        <a href="/post/create/<%= user._id %>" class=""><i class='bx hover:text-blue-500 bxs-plus-square'></i></a>
        <!-- <a href="#" class=""><i class='bx hover:text-blue-500 bx-search'></i></a> -->

        <!-- Open the modal using ID.showModal() method -->
        <button class="" onclick="my_modal_1.showModal()"><i class='bx text-lg hover:text-blue-500 bx-search'></i></button>
        <dialog id="my_modal_1" class="modal modal-top">
            <div class="modal-box">
                <h3 class="text-lg font-bold">Ready to Search</h3>
                <div class="modal-action">
                    <form action="/user/find" method="post" class="w-full">
                        <input type="text" name="searchInput" placeholder="Search" class="input input-bordered w-full mb-5" />
                        <input class="btn" type="submit" value="Search">
                    </form>
                </div>
            </div>
        </dialog>

        
        

    </div>


    <div class="flex items-center gap-2">

        <!-- <a class="text-red-500 hover:text-red-700 font-bold mr-3" href="#">LogOut</a> -->
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar online">
                <div class="w-10 rounded-full">
                    <img alt="Tailwind CSS Navbar component" src="/images/uploads/<%= user.profile_picture %>" />
                </div>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                <li>
                    <a class="justify-between" href="/user/profile">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <!-- <li><a>Settings</a></li> -->
                <li><a href="/user/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>