<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shorcut icon" type="x-icon" href="./images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body class="flex flex-col min-h-screen bg-[#000000] ">
    <%- include('components/header.ejs') %>


    <section class="flex-grow">
        <%- body -%>
    </section>

    <%- include('components/footer.ejs') %>
    

</html>